<!DOCTYPE html>
<html>
  <head>
    <title>Rakuten</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "navbar" >
      <div class = "container" >
        <%= link_to "rakuten search", root_path, id: "logo" %>
        <nav>
          <ul class = "nav">
            <li><%= link_to "探す",search_path %></li>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", user_session_path %></li>
            <li><%= link_to "マイページ", "#" %></li>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
